html {

    font-family: 'Roboto', sans-serif;
}
.back {
    height: 650px;
    background-image: linear-gradient(90deg, #00bcd47a, #6234b3);
    position: relative;
    top: -20px;
}
.form {
    background-color: white;
    width: 400px;
    height: 550px;
    margin: 10px auto;
    position: relative;
    top: 30px;
}
.caption {
    width: 100%;
    height: 100px;
    text-align: center;
}
p {
    position: relative;
    top:35px;
    font-size: 220%;
}
form {
    width: 100%;
    height: 100%;
}
input {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
}
input[type="submit"] {
    padding: 10px;
    position: relative;
    background-image: linear-gradient(90deg, #00bcd47a, #6234b3);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
.header a,
.search  {
    display: inline-block;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 35px;
}
.header a,
.text {
    text-decoration: none;
    font-size: 130%;
    color: black;
    top: 5px;
    position: relative;
}
.header input {
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-size: 120%;
    top: -18px;
    position: relative;
}
#se {
    position: absolute;
    z-index: 2;
    margin: 10px;
} 
.form i {
    position: relative;
    left: 50px;
}
textarea {
    position: relative;
    left: 50px;
    padding: 10px;
}