.header a,
.search  {
    display: inline-block;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 35px;
}
.header a {
    text-decoration: none;
    font-size: 130%;
    color: black;
    top: 5px;
    position: relative;
}
input {
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-size: 120%;
}